body, html
{
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #e0ffff;
}

#container
{
  width: 1000px;
  margin: 0;
}
#header
{
  position: relative;
  text-align: center;
  background: #36d7d7;
  font-family: 'Open Sans Condensed', serif;  
  font-size:20px;
  font-weight:bold;
  padding: 1px;
}
#navbar
{
  position: relative;
  background: #000000;
}

#navbar u1 li
{
  display: inline;
  margin-left: 18px;
  color: #ffffff;
  font-family: 'Open Sans Condensed', serif;  
  font-size:28px;
}

#column1
{
  float: left;
  width: 700px;
}

#column1 h2
{
  font-family: 'Open Sans Condensed', serif;
  font-size: 28px;
  margin-left: 20px;
  margin-bottom: 0;
}

#column1 h3
{
  font-family: 'Open Sans Condensed', serif;
  font-size: 18px;
  margin-left: 20px
}
#column1 p
{
  font-family: 'Open Sans Condensed', serif;
  font-size: 16px;
  margin-left: 20px
}

#column2
{
  float: right;
  width:300px;
  background: #71a9a9;
}
#column2 h2
{
  font-family: 'Open Sans Condensed', serif;
  font-size: 28px;
  color: #ff0000;
  margin-left: 20px
}
#column2 ul li
{
  margin-left: 20px
  font-family: 'Open Sans Condensed', serif;
  font-size: 20px;
  list-style-type: none;
  color: #ffffff;
}
#column2 h3
{
  margin-left: 20px;
  font-family: 'Open Sans Condensed', serif;
  font-size: 18px;
  color: #ff0000;
}
#column2 p
{
  margin-left: 20px;
  font-family: 'Open Sans Condensed', serif;
  font-size: 16px;
  color: #ffffff;
}
