body
{
    margin: 0px;
    padding: 0px;
}
h1 
{
    font-family: 'Open Sans Condensed', sans-serif;  
    font-weigth: bold;
    font-size:72px;
    text-align: center;
    color: #eff1f1;
}

#block
{
  font-align: center;
  background-color: #93ccc6;
  height: 400px;
  width: 800px;
  padding: 10px;
  padding-bottom: 35px;
}

p
{
  font-family:'Open Sans Condensed', sans-serif;
  font-size:32px;
  font-weight: bold;
  text-align: center;
  color: #eff1f1;
  padding-bottom: 15px;
}  
img
{
  display: inline;
  margin-left: 15px;
  
}
#pics
{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}